<app-tools (selectSource)="onChanged($event)"></app-tools>
<div class="news-list">
<mat-card class="news-item" *ngFor="let article of allArticles">
  <div class="news-image">
    <img
      mat-card-image
      src="{{ article.urlToImage }}"
      alt="{{ article.title }}"
    />
  </div>
  <div class="news-info">
    <div class="news-title">
      <mat-card-title>{{ article.title }}</mat-card-title>
    </div>
    <div>
      <mat-card-content class="news-description">
        {{ article.description }}
      </mat-card-content>
    </div>
    <mat-card-actions>
      <a mat-stroked-button href="news/{{selectedSource}}/{{article.idUrl}}">
        <span class="mat-button-wrapper">Read more...</span>
      </a>
    </mat-card-actions>
    <mat-card-footer>
      Published: {{ article.publishedAt.slice(0, -10) }}
    </mat-card-footer>
  </div>
</mat-card>
</div>
